.form {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.add {
  width: 70%;
  padding: 0.8rem 1.4rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
}

.button {
  border: none;
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

.button.dark {
  background-color: white;
  color: black;
}
